n8n-workflow-insurance.json
{
  "name": "Insurance Quote Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insurance-quote",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Dane Klienta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "insurance-quote-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "company",
              "value": "={{ $json.body.insuranceCompany || 'pzu' }}"
            },
            {
              "name": "vehicleBrand",
              "value": "={{ $json.body.vehicle.brand }}"
            },
            {
              "name": "vehicleModel",
              "value": "={{ $json.body.vehicle.model }}"
            },
            {
              "name": "vehicleYear",
              "value": "={{ $json.body.vehicle.year }}"
            },
            {
              "name": "driverAge",
              "value": "={{ $json.body.driver.age }}"
            },
            {
              "name": "licenseDate",
              "value": "={{ $json.body.driver.drivingLicenseDate }}"
            },
            {
              "name": "acValue",
              "value": "={{ $json.body.options.acValue }}"
            }
          ]
        }
      },
      "id": "set-variables",
      "name": "Przygotuj Dane",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Lista towarzystw do sprawdzenia\nconst companies = ['pzu', 'generali', 'uniqa'];\n\n// Przygotuj dane pojazdu i kierowcy\nconst vehicle = {\n  brand: $input.first().json.vehicleBrand,\n  model: $input.first().json.vehicleModel,\n  year: parseInt($input.first().json.vehicleYear)\n};\n\nconst driver = {\n  age: parseInt($input.first().json.driverAge),\n  drivingLicenseDate: $input.first().json.licenseDate,\n  accidentHistory: 0\n};\n\nconst options = {\n  acIncluded: true,\n  acValue: parseInt($input.first().json.acValue || 45000)\n};\n\n// Zwr贸 tablic z ka偶dym towarzystwem\nreturn companies.map(company => ({\n  json: {\n    insuranceCompany: company,\n    vehicle: vehicle,\n    driver: driver,\n    options: options\n  }\n}));"
      },
      "id": "prepare-requests",
      "name": "Przygotuj Requesty dla TU",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "Ptla po Towarzystwach",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://your-domain.com/api/insurance/calculate",
        "authentication": "none",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 90000
        },
        "bodyParametersJson": "={{ JSON.stringify($json) }}"
      },
      "id": "http-request-insurance",
      "name": "Wywoaj API Insurance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Sprawd藕 czy sukces",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "company",
              "value": "={{ $json.data.quote.company }}"
            },
            {
              "name": "ocPrice",
              "value": "={{ $json.data.quote.ocPrice }}"
            },
            {
              "name": "acPrice",
              "value": "={{ $json.data.quote.acPrice }}"
            },
            {
              "name": "totalPrice",
              "value": "={{ $json.data.quote.totalPrice }}"
            },
            {
              "name": "cached",
              "value": "={{ $json.data.cached }}"
            },
            {
              "name": "executionTime",
              "value": "={{ $json.data.executionTime }}"
            }
          ]
        }
      },
      "id": "extract-quote",
      "name": "Wycignij Cen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-results",
      "name": "Zbierz Wszystkie Wyniki",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Sortuj wyniki po cenie (od najtaszej)\nconst items = $input.all();\n\nconst sorted = items.sort((a, b) => {\n  const priceA = parseFloat(a.json.totalPrice) || Infinity;\n  const priceB = parseFloat(b.json.totalPrice) || Infinity;\n  return priceA - priceB;\n});\n\n// Oblicz redni cen\nconst validPrices = sorted\n  .map(item => parseFloat(item.json.totalPrice))\n  .filter(price => price > 0);\n\nconst avgPrice = validPrices.length > 0\n  ? validPrices.reduce((sum, price) => sum + price, 0) / validPrices.length\n  : 0;\n\n// Najlepsza oferta\nconst bestOffer = sorted[0]?.json || {};\n\n// Oszczdnoci\nconst savings = avgPrice > 0 ? (avgPrice - bestOffer.totalPrice) : 0;\nconst savingsPercent = avgPrice > 0 ? ((savings / avgPrice) * 100).toFixed(1) : 0;\n\nreturn [\n  {\n    json: {\n      allOffers: sorted.map(item => item.json),\n      bestOffer: bestOffer,\n      averagePrice: avgPrice.toFixed(2),\n      savings: savings.toFixed(2),\n      savingsPercent: savingsPercent,\n      totalOffers: sorted.length\n    }\n  }\n];"
      },
      "id": "analyze-offers",
      "name": "Analizuj Oferty",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "fromEmail": "ubezpieczenia@twoja-firma.pl",
        "toEmail": "={{ $json.clientEmail }}",
        "subject": "Najlepsza oferta ubezpieczenia OC/AC",
        "emailType": "html",
        "message": "<h2> Twoja najlepsza oferta ubezpieczenia</h2>\n\n<p>Dzie dobry,</p>\n\n<p>Przygotowalimy dla Ciebie por贸wnanie ofert ubezpieczenia dla Twojego pojazdu.</p>\n\n<h3> Najlepsza oferta:</h3>\n<ul>\n  <li><strong>Towarzystwo:</strong> {{ $json.bestOffer.company }}</li>\n  <li><strong>OC:</strong> {{ $json.bestOffer.ocPrice }} PLN</li>\n  <li><strong>AC:</strong> {{ $json.bestOffer.acPrice }} PLN</li>\n  <li><strong>RAZEM:</strong> <span style=\"color: green; font-size: 24px;\">{{ $json.bestOffer.totalPrice }} PLN</span></li>\n</ul>\n\n<h3> Por贸wnanie wszystkich ofert:</h3>\n<table border=\"1\" cellpadding=\"10\">\n  <tr>\n    <th>Towarzystwo</th>\n    <th>Cena OC</th>\n    <th>Cena AC</th>\n    <th>Cena Cakowita</th>\n  </tr>\n  {{#each $json.allOffers}}\n  <tr>\n    <td>{{ company }}</td>\n    <td>{{ ocPrice }} PLN</td>\n    <td>{{ acPrice }} PLN</td>\n    <td><strong>{{ totalPrice }} PLN</strong></td>\n  </tr>\n  {{/each}}\n</table>\n\n<h3> Oszczdnoci:</h3>\n<p>Wybierajc najtasz ofert zaoszczdzisz: <strong>{{ $json.savings }} PLN ({{ $json.savingsPercent }}%)</strong> w por贸wnaniu do redniej ceny.</p>\n\n<p>Chcesz kupi t polis? Odpisz na tego maila lub zadzwo!</p>\n\n<p>Pozdrawiamy,<br>\nTw贸j Broker Ubezpieczeniowy</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Wylij Email z Ofert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2050, 300]
    }
  ],
  "connections": {
    "Webhook - Dane Klienta": {
      "main": [
        [
          {
            "node": "Przygotuj Dane",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj Dane": {
      "main": [
        [
          {
            "node": "Przygotuj Requesty dla TU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj Requesty dla TU": {
      "main": [
        [
          {
            "node": "Ptla po Towarzystwach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ptla po Towarzystwach": {
      "main": [
        [
          {
            "node": "Wywoaj API Insurance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wywoaj API Insurance": {
      "main": [
        [
          {
            "node": "Sprawd藕 czy sukces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprawd藕 czy sukces": {
      "main": [
        [
          {
            "node": "Wycignij Cen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wycignij Cen": {
      "main": [
        [
          {
            "node": "Ptla po Towarzystwach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ptla po Towarzystwach (completed)": {
      "main": [
        [
          {
            "node": "Zbierz Wszystkie Wyniki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zbierz Wszystkie Wyniki": {
      "main": [
        [
          {
            "node": "Analizuj Oferty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizuj Oferty": {
      "main": [
        [
          {
            "node": "Wylij Email z Ofert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "insurance-quote-automation",
  "meta": {
    "instanceId": "your-n8n-instance"
  },
  "tags": []
}
